<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center mt-5">
      <h3 class="fw-bold" style="color: var(--secondary-color)">ABOUT</h3>
    </div>
    <div class="col-12">
      <p class="mt-3 fs-5 text-center text-sm-start">
        Welcome to my portfolio! I'm Ronald Allan R. Paguntalan, an
        <span style="color: var(--secondary-color)"
          >Aspiring Full Stack Developer</span
        >
        with a passion for crafting digital solutions. I thrive on challenges
        and am dedicated to building innovative, user-friendly applications that
        make a difference. Whether it's enhancing web presence, optimizing
        performance, or solving technical challenges, I'm here to help you
        achieve your goals.
      </p>
    </div>
    <div class="col-12 text-center">
      <p class="fs-5">
        <span style="color: var(--secondary-color)">Let's connect </span> and
        discuss how I can contribute to your next project.
      </p>
    </div>
    <div class="col-12 mb-4">
      <h4
        class="d-flex justify-content-center mt-4"
        style="color: var(--secondary-color)"
      >
        TECHNOLOGIES
      </h4>
    </div>
    <!-- LOGOS -->
    <div class="container mb-5">
      <div class="row">
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/w3_html5-icon.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img src="assets/icon/css-3.svg" alt="" class="img-fluid svg-icon" />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/angular-icon.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/git-scm-icon.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/tailwind-css-2.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/bootstrap-5-1.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/logo-javascript.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/nodejs-1.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/firebase-icon.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img src="assets/icon/npm.svg" alt="" class="img-fluid svg-icon" />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/figma-icon.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <img
            src="assets/icon/typescriptlang-icon.svg"
            alt=""
            class="img-fluid svg-icon"
          />
        </div>
      </div>
    </div>
    <!-- END OF LOGOS -->
  </div>
</div>
