h1, h5{
    color: var(--text-color);
}



.btn{
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: large;
    border: unset;
    border-radius: unset;
}

.btn:hover{
    background-color: var(--text-color);
    color: var(--secondary-color);
}