<div class="container">
  <div class="row gx-5">
    <div class="col-md-6 order-md-2">
      <img src="assets/ronald-hero-img.png" alt="" class="img-fluid" />
    </div>
    <div
      class="col-md-6 d-flex flex-column justify-content-center align-items-md-start align-items-sm-center align-items-center align-items-center align-items-xs-center order-md-1"
    >
      <h1 class="display-1 fw-bold">I AM RONNY!</h1>
      <h5 class="fs-4">ASPIRING FULLSTACK DEVELOPER</h5>
      <h5 class="fs-4 pb-3">BASED IN THE PHILIPPINES</h5>
      <a href="" class="btn btn-primary w-md-25 mb-5">LET'S TALK!</a>
    </div>
  </div>
</div>
