.text-custom {
  color: var(--secondary-color);
}

.card {
  background-color: #faf9f6;
  cursor: pointer;
  height: 450px;
  &:hover {
    transition: all 0.3s ease-out;
    bottom: 10px;
    box-shadow: 0px 4px 8px #df4c2b57;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
  }
}

.item-box {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.list-group > a {
  text-decoration: none;
}

li {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-weight: 700;
}

.item-box:hover {
  background-color: #faf9f6;
}

.carousel-control-prev{
    color: var(--secondary-color) !important;
}

.text-color{
  color: #EFEBDF;
}

.card-img-top{
  height: 200px;
  object-fit: cover;
}

a{
  text-decoration: none !important;
}