<div class="container">
  <div class="row pt-5">
    <div class="col-md-12 d-flex flex-column align-items-center">
      <span><i class="fa-solid fa-paper-plane mb-5"></i></span>
      <h3 class="fw-bold fs-1">LET'S TALK</h3>
      <p class="text-center text-break mt-4 fs-4">
        Feel free to reach out to me to discuss potential collaborations,
        projects, or any inquiries you may have. I'm always open to connecting
        with fellow professionals and exploring new opportunities.
      </p>
      <a href="" class="contact-button mt-4 mb-5" (click)="openEmailPopup()">Say Hello!</a>
    </div>
  </div>
</div>
