.fa-paper-plane{
    color: var(--secondary-color);
    font-size: 3rem;
}

h3, p{
    color: var(--text-color);
}

.contact-button{
    padding: 10px 20px;
    width: 170px !important;
    background-color: var(--secondary-color); /* Button background color */
    color: var(--text-color); /* Button text color */
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

.contact-button:hover{
    color: var(--secondary-color);
    background-color: var(--text-color);
}