nav{
    background-color: var(--primary-color) !important;
 }

.hero-custom{
    background-color: var(--primary-color) !important;
}

.about-custom{
    background-color: #FAF9F6;
}

.projects-custom{
    background-color: var(--primary-color);
}