nav{
    background-color: var(--primary-color) !important;
 }

.hero-custom{
    background-color: var(--primary-color) !important;
}

.about-custom{
    background-color: #FAF9F6;
}

.projects-custom{
    background-color: var(--primary-color);
}

/* Style the parallax container */
.parallax {
    background-image: url('../assets/image/resume-bg.jpg'); /* Replace 'your-image.jpg' with your image file */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
    opacity: 0.8; /* Adjust the opacity as needed */
    position: relative;
}