<div class="container pt-3">
  <div class="col-md-12 mt-2">
    <div class="rocket-container">
      <div class="rocket" id="rocket" (click)="scrollToTop()" (mouseenter)="showText = true" (mouseleave)="showText = false"></div>
    </div>
    <div *ngIf="showText" class="text-center text-rocket fw-bold mb-2">To Infinity and Beyond!</div>
  </div>
  <div class="row gx-2">
    <div class="col-12 d-flex justify-content-center">
      <a
        href="https://www.linkedin.com/in/ronald-allan-paguntalan/"
        target="_blank"
        ><span
          ><img
            src="../../../assets/icon/icons8-linkedin-188.png"
            alt="linkedin"
            class="img-fluid svg-icon" /></span
      ></a>
      <a href="https://www.facebook.com/wizardronny" target="_blank"
        ><span
          ><img
            src="../../../assets/icon/icons8-facebook-188.png"
            alt="facebook"
            class="img-fluid svg-icon" /></span
      ></a>
      <a href="https://twitter.com/ronald_devp" target="_blank"
        ><span
          ><img
            src="../../../assets/icon/icons8-twitter-circled-188.png"
            alt="twitter"
            class="img-fluid svg-icon" /></span
      ></a>
      <a href="https://github.com/ronaldpaguntalan" target="_blank"
        ><span
          ><img
            src="../../../assets/icon/icons8-github-188.png"
            alt="github"
            class="img-fluid svg-icon" /></span
      ></a>
    </div>
    <div class="col-md-12">
      <p class="text-mute fs-6 text-center mt-2">
        © Ronald Allan Paguntalan 2023
      </p>
    </div>
  </div>
</div>
