<div class="container">
  <div class="row">
    <div class="navbar navbar-expand-md">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler1"
        aria-controls="navbarToggler1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span><i class="fa fa-bars"></i></span>
      </button>
      <div class="col-10 col-md-6 d-flex justify-content-md-center order-1 order-md-2">
        <a href="">
          <img
          src="/assets/ronny_brand_icon.png"
          alt=""
          class="img-fluid img-custom nav-brand"
        />
        </a>
      </div>
      <div class="col collapse navbar-collapse order-2 order-md-1" id="navbarToggler1">
        <ul class="navbar nav flex-column flex-md-row me-auto">
          <li class="nav-item">
            <a href="#about-section" class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href="#projects-section" class="nav-link">PROJECTS</a>
          </li>
        </ul>
      </div>
      <div class="col collapse navbar-collapse order-3" id="navbarToggler1">
        <ul class="navbar nav flex-column flex-md-row ms-auto">
          <li class="nav-item">
            <a href="#resume-section" class="nav-link">RESUME</a>
          </li>
          <li class="nav-item">
            <a href="#contact-section" class="nav-link">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
