/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

:root {
  --primary-color: #1e1e1e;
  --secondary-color: #df4b2b;
  --text-color: #efebdf;
  --logo-color: #545454;

  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
